$color-main: #F94B64;
$color-sub: #F77063;

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	margin:0;
	padding:0;
	overflow-y:hidden;
}
body {
	margin:0px;
}
.gel-view {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width:100vw;
	height:100vh;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.dev-routers {
	z-index:9999999;
	position: absolute;
	font-size: 9px;
	right: 0px;
	top: 0px;
	background-color: black;
	color:white;
	opacity: .3;
	a {
		color: white;
		text-decoration: none;
	}
}