$pc-base-width: 1100px !default;
$mobile-base-width: 750px !default;

$breakpoint-mobile: 768px !default;

$color-black: #000;
$color-white: #fff;
$color-red: #f00;
$color-green: #0f0;
$color-blue: #00f;
$color-gray-f9: #f9f9f9;

$color-main: $color-black !default;


$color-bg-main: #f2f3f7;